<html>
    <body>
        <h3>Hi ${user}!</h3>

        <div>
        	<p>Your company, ${companyname} , has registered you to have access to Proteck Software - a Payment System .</p>
        	<p>In other to complete the process of the registration, click on the email link below.</p>
            <p>${emailLink}</p>
        </div>
        <div>
        	<p>
        		Thank you.
        		
        		Proteck Support Team.
        	</p>
        </div>
    </body>
</html>